@if (Request.IsAuthenticated)
{
ViewBag.Title = "My Home";
ViewBag.Message = "";
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            @Html.ActionLink("Student Course Page!", "StudentCoursePage", "Course")<br>
            @Html.ActionLink("Teacher Course Page!", "TeacherCoursePage", "Course")<br />
			@if(User.IsInRole("Administrator"))
			{
				@Html.ActionLink("Admin", "Index", "Admin")
			}

            </p>
        </div>
    </section>
}
<h3>Nothing to Do?</h3>
<ol class="round">
    <li class="one">
        <h5>Personalize Your Account</h5>
        Go to the @Html.ActionLink("account settings page", "Manage", "Account") for customization options.
    </li>

    <li class="two">
        <h5>Register For Some Courses</h5>
        @Html.ActionLink("Add a course", "addCourseForm", "Course")
    </li>

    <li class="three">
        <h5>Track Your Progress</h5>
        ...When that (hopefully) gets finished at the end of this Milestone.
    </li>
    <li class="four">
        <h5>Forum</h5>
        Go to @Html.ActionLink("Forum", "addPostForm", "Thread")
    </li>
    <li class="five">
        <h5>Syllabus</h5>
        @Html.ActionLink("Upload", "UploadDocument", "Upload")/@Html.ActionLink("View", "ViewFiles", "Files")
    </li>
</ol>
}else{
{
ViewBag.Title = "Welcome: ";
ViewBag.Message = "You are not logged in.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Either log in or register to proceed!
            </p>
        </div>
    </section>
}
}
