@model Savnac.Web.Models.Post

@using (Html.BeginForm("Add", "Post"))
{
    @Html.LabelFor(a => a.PostTitle);
    @Html.TextBoxFor(a => a.PostTitle);
    
    @Html.LabelFor(a => a.PostText);
    @Html.TextBoxFor(a => a.PostText);
    
    //A hidden field to store ThreadID
    @Html.HiddenFor(a => a.ThreadID);
    
    <button>Submit</button>

}