@{
    ViewBag.Title = "Inbox";
}


<h2 class="float-left">Inbox</h2>

<div class="inbox">
	<div class="button float-right">@Html.ActionLink("Compose Message", "ComposeMessage")</div>

    <table style="width:100%">
        <tr class="inboxHeader">
            <td class="inboxFromCol">From</td>
            <td class="inboxSubjCol">Subject</td>
            <td class="inboxMessCol">Message</td>
            <td class="inboxTimeCol">Time</td>
        </tr>

		@foreach (var message in Model)
		{
            
            @*Shortens Message*@
            string shortMessage;
            string shortSubject;
            if (message.message.Length <= 80)
            {
                shortMessage = message.message;
            }
            else
            {
                shortMessage = message.message.Substring(0, 77);
                shortMessage += "...";
            }

            if (message.subject.Length <= 15)
            {
                shortSubject = message.subject;
            }
            else
            {
                shortSubject = message.subject.Substring(0, 12);
                shortSubject += "...";
            }
            
			<tr class="inboxMessage" onclick="document.location = '@Url.Action("ReadMessage", message)';">
                <td class="inboxFromCol">@if(!message.isRead){<b>@message.sender</b>} else {@message.sender}</td>
                <td class="inboxSubjCol">@if(!message.isRead){<b>@shortSubject</b>} else {@shortSubject}</td>
                <td class="inboxMessCol">@if(!message.isRead){<b>@shortMessage</b>} else {@shortMessage}</td>
                <td class="inboxTimeCol">@if(!message.isRead){<b>@message.timeSent</b>} else {@message.timeSent}</td>
			</tr>
		}
    </table>
</div>