<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Savnac - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a class="siteLogo" href="@Url.Action("Index","Home")"><img src="~/Images/SavnacLogo.png" /></a>
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                       <!-- @if (Request.IsAuthenticated)
                        {
                            @Html.Partial("_LoginPartial")
                        }-->
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink(User.Identity.Name, "Index", "Home")</li>
                                <li>@Html.ActionLink("Grades", "Gradebook", "Class")</li>
                                <li>@Html.ActionLink("Attendance", "CourseAttendance", "Attendance")</li>
                                <li>@Html.ActionLink("Inbox", "Inbox", "Message" )</li>
                                <li>@Html.ActionLink("Forum","Forum", "Forum")</li>
                                <li>@Html.ActionLink("Account", "Manage", "Account")</li>
                                <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                                }</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Savnac</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
