@model Savnac.Web.Models.Course

@{
    ViewBag.Title = "Add a Course";
}

<hgroup class="title" style="width: 262px; text-align: center; margin: 0 auto;">
    <!-- <h1>@ViewBag.Title.</h1> -->
	<h1>Add a new course.</h1>
</hgroup>

<section id="addCourseForm" style="border: 0px; float: none; width: 262px; margin: 0 auto;">
@using (Html.BeginForm())
    {
    @Html.ValidationSummary()
    <fieldset>
        <legend>Add Course Form</legend>
        
        <p>Course Name:  @Html.TextBoxFor( x => x.CourseName ) </p>
        <p>Course ID:  @Html.TextBoxFor( x => x.CourseId ) </p>
        
        <input type ="submit" value="Submit New Course" />
    </fieldset>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

